#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(199, 165, 165);
}

.board {
 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    aspect-ratio: 1 / 1;
    .square {     
      cursor: pointer;
    }
    
  }
  .players {
    margin-top: 10px;
    display: grid;
    grid: 10px;
    grid-template-columns: 25% 25%;
    place-content: center;
  }
  .square {
    display: flex;
    justify-content: center;
    align-items: center;   
    aspect-ratio: 1 / 1;
    border: 1px solid;
  &.is-selected {
    background-color: rgb(19, 18, 18);
    color: white;    
  }
}

.btn {
  margin: 1rem;
}